<% user_job_roles.each do |role| %>
  <h4>
    <span class="float-start"><%= role.user.chinese_name -%></span>
    &nbsp;
    <small class="text-muted"><%= role.title %></small>
    <small class="text-muted float-end"><%= role.company %></small>
  </h4>
  <div class="row">
    <% role.managed_user_job_roles.each do |managed_role| %>
      <% user = managed_role.user %>
      <div class="col-3">
        <div class="card my-3">
          <div class="card-body">
            <span class="badge rounded-pill text-bg-success float-end"><%= user.good_events_count -%></span>
            <span class="badge rounded-pill text-bg-danger float-end mx-1"><%= user.bad_events_count -%></span>
            <div class="text-left">
              <div><%= user.chinese_name %></div>
              <small class="text-muted"><%= managed_role.title %></small>
              <div class="btn-group-vertical float-end" role="group" aria-label="Vertical button group">
                <div class="btn-group btn-group-sm" role="group">
                  <button id="btnGroupVerticalDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-coreui-toggle="dropdown" aria-expanded="false">
                    <%= t('form.write') -%>
                  </button>
                  <ul class="dropdown-menu" style="min-width: 76px;" aria-labelledby="btnGroupVerticalDrop1">
                    <li>
                      <%= link_to GoodEvent.human_attribute_name(:good_title), new_good_events_path, class: "dropdown-item text-success", data: {controller: "modal", action: "modal#click", 'modal-page-reload-value': true} %>
                    </li>
                    <li>
                      <%= link_to BadEvent.human_attribute_name(:bad_title), new_bad_events_path, class: "dropdown-item text-danger", data: {controller: "modal", action: "modal#click", 'modal-page-reload-value': true} %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
