<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<%= render 'login_button' unless current_user.present? %>

<% if @first_level_user_job_roles.present? %>
  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'user_job_roles', locals: { user_job_roles: @first_level_user_job_roles } %>
      </div>
    </div>
  </section>
<% end %>

<% if @second_level_user_job_roles.present? %>
  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'user_job_roles', locals: { user_job_roles: @second_level_user_job_roles } %>
      </div>
    </div>
  </section>
<% end %>

<% if @third_level_user_job_roles.present? %>
  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'user_job_roles', locals: { user_job_roles: @third_level_user_job_roles } %>
      </div>
    </div>
  </section>
<% end %>

<%# Timeline Section %>
<div class="row d-flex justify-content-center mt-70 mb-70">
  <%# Good Events Column %>
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title text-success"><%= GoodEvent.human_attribute_name(:good_title) -%></h5>
        <%= render partial: 'good_events/timeline', locals: { good_events: @good_events } %>
      </div>
    </div>
  </div>

  <%# Bad Events Column %>
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title text-danger"><%= BadEvent.human_attribute_name(:bad_title) -%></h5>
        <%= render partial: 'bad_events/timeline', locals: { bad_events: @bad_events } %>
      </div>
    </div>
  </div>
</div>

