<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<section class="container mt-4">
  <div class="row">
    <div class="col-12">
      <% if current_user&.user_job_roles&.present? %>
        <% current_user.user_job_roles.each do |role| %>
          <h4><%= role.title %> <small class="text-muted float-end"><%= role.company %></small></h4>
          <div class="row">
            <% role.managed_user_job_roles.each do |role| %>
              <div class="col-3">
                <div class="card my-3">
                  <div class="card-body">
                    <div class="text-center">
                      <div><%= role.user.chinese_name %></div>
                      <small class="text-muted"><%= role.title %></small>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="text-muted">No job roles found.</p>
      <% end %>
    </div>
  </div>
</section>
