<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with model: @bad_event, url: bad_events_path do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title") -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mb-3">
            <%= hidden_field_tag :user_id, params[:user_id] %>
            <%= f.label :bad_title, class: 'col-4 col-form-label' %>
            <div class="col-8">
              <%= f.text_field :bad_title, class: 'form-control' %>
            </div>
          </div>
        </div>          
      </div>
      <div class="modal-footer">
        <%= f.submit t('form.create'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
