<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><%= t('contracts.contract_type') -%>：</strong></td>
            <td><%= @contract_basic.contract_type %></td>
            <td><strong><%= t('contracts.contract_nature') -%>：</strong></td>
            <td><%= @contract_basic.contract_nature %></td>
            <td><strong>主合同编号</strong></td>
            <td></td>
            <td><strong>主合同名称</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>来源商机编号</strong></td>
            <td></td>
            <td><strong>来源商机名称</strong></td>
            <td></td>
            <td><strong>工程编号</strong></td>
            <td></td>
            <td><strong>工程名称</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.east_boundary') -%>：</strong></td>
            <td><%= @contract_basic.east_boundary %></td>
            <td><strong><%= t('contracts.south_boundary') -%>：</strong></td>
            <td><%= @contract_basic.south_boundary %></td>
            <td><strong><%= t('contracts.west_boundary') -%>：</strong></td>
            <td><%= @contract_basic.west_boundary %></td>
            <td><strong><%= t('contracts.north_boundary') -%>：</strong></td>
            <td><%= @contract_basic.north_boundary %></td>
          </tr>
          <tr>
            <td><strong>合同编号</strong></td>
            <td></td>
            <td><strong><%= t('contracts.contract_name') -%>：</strong></td>
            <td><%= @contract_basic.contract_name %></td>
            <td><strong><%= t('contracts.project_land_use_nature') -%></strong></td>
            <td><%= @contract_basic.project_land_use_nature %></td>
            <td><strong>线索提供人</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.currency') -%>：</strong></td>
            <td><%= @contract_basic.currency %></td>
            <td><strong><%= t('contracts.contract_amount') -%>:</strong></td>
            <td><%= @contract_basic.contract_amount %></td>
            <td><strong><%= t('contracts.split_contract_amount') -%>:</strong></td>
            <td><%= @contract_basic.split_contract_amount %></td>
            <td><strong><%= t('contracts.actual_contract_amount') -%>：</strong></td>
            <td><%= @contract_basic.actual_contract_amount %></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.party_a') -%>：</strong></td>
            <td colspan="3"><%= @contract_basic.party_a %></td>
            <td><strong><%= t('contracts.party_b') -%>：</strong></td>
            <td colspan="3"><%= @contract_basic.party_b %></td>
          </tr>
          <tr>
            <td><strong>丙方：</strong></td>
            <td></td>
            <td><strong><%= t('contracts.developer_name') -%>：</strong></td>
            <td><%= @contract_basic.developer_name %></td>
            <td><strong><%= t('contracts.scale_type') -%>：</strong></td>
            <td><%= @contract_basic.scale_type %></td>
            <td><strong><%= t('contracts.scale_area') -%>：</strong></td>
            <td><%= @contract_basic.scale_area %></td>
          </tr>
          <tr>
            <td><strong>商务责任公司：</strong></td>
            <td></td>
            <td><strong>商务责任部门：</strong></td>
            <td></td>
            <td><strong>商务负责人：</strong></td>
            <td></td>
            <td><strong>商务协助人：</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.beneficiary_bank_account') -%>：</strong></td>
            <td colspan="3"><%= @contract_basic.beneficiary_bank_account %></td>
            <td><strong><%= t('contracts.beneficiary_bank') -%>：</strong></td>
            <td colspan="3"><%= @contract_basic.beneficiary_bank %></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.is_epc') -%>:</strong></td>
            <td><%= @contract_basic.is_epc %></td>
            <td><strong><%= t('contracts.is_design_general_contractor') -%>：</strong></td>
            <td><%= @contract_basic.is_design_general_contractor %></td>
            <td><strong>协议有效期：</strong></td>
            <td></td>
            <td><strong></strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>协议适用范围：</strong></td>
            <td></td>
            <td><strong><%= t('contracts.project_tag') -%>：</strong></td>
            <td><%= @contract_basic.project_tag %></td>
            <td><strong><%= t('contracts.quotation_method') -%>：</strong></td>
            <td><%= @contract_basic.quotation_method %></td>
            <td><strong><%= t('contracts.construction_and_installation_fee') -%>：</strong></td>
            <td><%= @contract_basic.construction_and_installation_fee %></td>
          </tr>
          <tr>
            <td><strong><%= t('contracts.discount_rate') -%>：</strong></td>
            <td><%= @contract_basic.discount_rate %></td>
            <td><strong><%= t('contracts.developer_type') -%>：</strong></td>
            <td><%= @contract_basic.developer_type %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="card">
        <div class="card-header"><%= t('contract_reviews.scope_business') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.scope_business -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.curtain_wall_cert_usage') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.curtain_wall_cert_usage -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.epc_lead_role') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.epc_lead_role -%></p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header"><%= t('contract_reviews.first_payment_prepayment') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.first_payment_prepayment -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.fee_adjustment_downward_only') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.fee_adjustment_downward_only -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.danger_payment_specified') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.danger_payment_specified -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.prohibited_split') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.prohibited_split -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.final_payment_rate') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.final_payment_rate -%></p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header"><%= t('contract_reviews.penalty_staff_replacement') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.penalty_staff_replacement -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.penalty_amount') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.penalty_amount -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.work_suspension_prohibited') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.work_suspension_prohibited -%></p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header"><%= t('contract_reviews.liability_cap_twice_contract') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.liability_cap_twice_contract -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.cross_contract_penalty_prohibited') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.cross_contract_penalty_prohibited -%></p>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header"><%= t('contract_reviews.liability_clause_keywords') %></div>
        <div class="card-body">
          <p class="card-text"><%= @contract_basic.contract_review.liability_clause_keywords -%></p>
        </div>
      </div>
    </div>
  </div>
</div>
