<% content_for :head do %>
  <%= append_stylesheet_pack_tag 'dashboard' %>
  <%= append_javascript_pack_tag 'stimulus' %>
  <%= append_javascript_pack_tag 'dashboard' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-primary">
          <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
              <div class="fs-4 fw-semibold"><%= User.where(is_active: true).count -%></div>
              <div><%= t('user.active_user') -%></div>
            </div>
          </div>
          <div class="c-chart-wrapper mt-3 mx-3" style="height:100px;" data-controller="dashboard"
            data-dashboard-title-value='人数'
            data-dashboard-labels-value='<%= @job_family_data.collect(&:first).to_json.html_safe -%>'
            data-dashboard-data-value='<%= @job_family_data.collect(&:second).to_json.html_safe -%>'>
            <canvas class="chart" height="100" data-dashboard-target="cardChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><%= t('contracts.contract_type') -%></th>
            <th><%= t('contracts.contract_nature') -%></th>
            <th><%= t('contracts.contract_name') -%></th>
            <th><%= t('form.action') -%></th>
          </tr>
        </thead>
        <tbody>
          <% @contracts.each do |contract| %>
            <tr>
              <td><%= contract.contract_type -%></td>
              <td><%= contract.contract_nature -%></td>
              <td><%= contract.contract_name -%></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
